/* partial css */

.white {
  color: #fff;
}
.center {
  margin: 0 auto;
}
.left {
  text-align: left;
}
.bgbeige {
  background: #efd8b4;
  color: black;
}
.bgwhite {
  background: #fff;
  color: black;
}

/* elements (semantic) css */

/* Bars */

.bars {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 1920px;
}
.bar {
  background: #fff;
  margin: 1px;
}
.bar > img {
  width: 100%;
}
.bar hr {
  width: 50%;
  margin: 20px auto;
  color: brown;
}
.bar_desc {
  padding: 20px 20px 40px;
}
.bar span {
  color: #9d856c;
}

.bar_desc p {
  font-size: 1.2em;
}

/* Gears */

.gears {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 1000px;
}
.gear {
  width: 500px;
  height: 150px;
  text-align: left;
  margin: 20px 50px 20px 0;
}
.gear2col {
  grid-column-start: 1;
  grid-column-end: 3;
}
.gear_img {
  float: left;
  margin-right: 20px;
  width: 150px;
}
.gears h3 {
  margin: 0;
}

/* Oils */

.oils {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  max-width: 1920px;
}
.oil_txt {
  font-size: 0.8em;
}

/* Other */

.subtitle {
  font-size: 1.5em;
  margin: 0 2em 0.5em;
}
.h2subtitle {
  font-size: 1.5em;
  margin: 0 2em 3em;
}
.big_button {
  font-size: 1.2em;
  padding: 0.7em 1.2em;
  margin: 5px;
  display: inline-block;
}
.big_button:hover {
  color: #fff;
}
.placeholder {
  display: none;
}

/* Common */

body {
  overflow-x: hidden;
}


/* Banner css */

.banner {
  margin-left: calc(50% - 50vw);
  width: 100vw;
  height: 37.5vh;
  min-height: 35em;
  background: var(--img) 50%/cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.parallax {
  --img: url(https://oliya.com.ua/img/discount.jpg);
}
.parallax1 {
  --img: url(https://oliya.com.ua/img/discount1.jpg);
}


/* Media */

@media screen and (max-width: 1500px){
  .oils {
    grid-template-columns: repeat(3, 1fr);
  }
  .placeholder {
    display: block;
  }
}

@media screen and (max-width: 1200px){
  .bars {
    grid-template-columns: repeat(2, 1fr);
  }
  .oils {
    grid-template-columns: repeat(2, 1fr);
  }
  .gears {
    grid-template-columns: repeat(1, 1fr);
  }
  .gear {
    margin: 20px auto;
  }
  .long {
    height: 350vh!important;
  }
  .gear2col {
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .placeholder {
    display: none;
  }
}
@media screen and (max-width: 640px){
  .bars {
    grid-template-columns: repeat(1, 1fr);
  }
  .oils {
    grid-template-columns: repeat(1, 1fr);
  }
  .placeholder {
    display: none;
  }
  .about h1 {
    font-size: 2em;
  }
  .subtitle {
    font-size: 1em;
  }
  .gear {
    width: auto;
    height: auto;
    text-align: center;
    margin: 20px;
  }
  .gear_img {
    float: none;
    width: auto;
  }
  .long {
    height: 600vh!important;
  }
}
