
/* elements (semantic) css */

.vCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Comparison */

.comparison_bars {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 1920px;
}
.bar1Desc {
  grid-column-start: 1;
  grid-column-end: 3;
}
.bar2Desc {
  grid-column-start: 3;
  grid-column-end: 5;
}


/* Bars */

.bars {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 1920px;
}
.bar {
  background: #fff;
  margin: 1px;
}
.bar > img {
  width: 100%;
}
.bar hr {
  width: 50%;
  margin: 20px auto;
  color: brown;
}
.bar_desc {
  padding: 20px 20px 40px;
}
.bar span {
  color: #9d856c;
}

.bar_desc p {
  font-size: 1.2em;
}

/* Gears */

.gears {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 1000px;
}
.gear {
  width: 500px;
  height: 150px;
  text-align: left;
  margin: 20px 50px 20px 0;
}
.gear2col {
  grid-column-start: 1;
  grid-column-end: 3;
}
.gear_img {
  float: left;
  margin-right: 20px;
  width: 150px;
}
.gears h3 {
  margin: 0;
}

/* Oils */

.oils {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  max-width: 1920px;
}
.oil_txt {
  font-size: 0.8em;
}

/* Other */

.subtitle {
  font-size: 1.5em;
  margin: 0 2em 0.5em;
}
.h2subtitle {
  font-size: 1.5em;
  margin: 0 2em 3em;
}
.big_button {
  font-size: 1.2em;
  padding: 0.7em 1.2em;
  margin: 5px;
  display: inline-block;
}
.big_button:hover {
  color: #fff;
}
.placeholder {
  display: none;
}

/* Common */

body {
  overflow-x: hidden;
}
.home {
  margin: 0 auto;
  background: rgba(255, 238, 227, 0.5);
  font-size: 1.3em;
  font-family: 'Comic Sans MS', Cursive, Verdana, sans-serif;
  text-align: center;
}
.home h1 {
  font-size: 3.5em;
  margin: 0 0.5em;
}
.home h2 {
  font-size: 2em;
  margin: 2em 0.5em 0.5em;
}
.home h3 {
  font-size: 1.8em;
}
.home h4 {
  font-size: 1.5em;
}

/* Banner css */

.banner {
  height: 37.5vh;
  min-height: 35em;
  background: var(--img) 50%/cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner:nth-of-type(1) {
  --img: url(https://oliya.com.ua/img/landing/utp.jpg);
}
.banner:nth-of-type(2) {
}
.banner:nth-of-type(3) {
  --img: url(https://oliya.com.ua/img/landing/maslozavod.jpg);
  height: 150vh;
}
.banner:nth-of-type(4) {
}
.banner:nth-of-type(5) {
  --img: url(https://oliya.com.ua/img/landing/smak.jpg);
}

/* partial css */

.white {
  color: #fff;
}
.center {
  margin: 0 auto;
}
.left {
  text-align: left;
}
.bgbeige {
  background: #efd8b4;
  color: black;
}
.bgwhite {
  background: #fff;
  color: black;
}
.bgGray {
  background: #eee;
}
.uppercase {
  text-transform: uppercase;
}


/* Media */

@media screen and (max-width: 1500px){
  .bar h3 {
    font-size: 1.5em;
  }
  .oils {
    grid-template-columns: repeat(3, 1fr);
  }
  .placeholder {
    display: block;
  }
}

@media screen and (max-width: 1200px){
  .bar h3 {
    font-size: 1.3em;
    margin-bottom: 0;
  }
  .bar hr {
    display: none;
  }
  .bars {
    grid-template-columns: repeat(2, 1fr);
  }
  .oils {
    grid-template-columns: repeat(2, 1fr);
  }
  .gears {
    grid-template-columns: repeat(1, 1fr);
  }
  .gear {
    margin: 20px auto;
  }
  .long {
    height: 350vh!important;
  }
  .gear2col {
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .placeholder {
    display: none;
  }
}

@media screen and (max-width: 1000px){
  .comparison_bars {
    grid-template-columns: repeat(2, 1fr);
  }
  .vCenter {
    justify-content: flex-start;
  }
  .bar h3 {
    font-size: 1.5em;
    margin-bottom: 1em;
  }
  .bar hr {
    display: block;
  }
  .bar1 {
    order: 1;
  }
  .bar1Desc {
    grid-column-start: auto;
    grid-column-end: auto;
    order: 3;
  }
  .bar2 {
    order: 2;
  }
  .bar2Desc {
    grid-column-start: auto;
    grid-column-end: auto;
    order: 4;
  }
  .bar3 {
    order: 5;
  }
  .bar3Desc {
    order: 7;
  }
  .bar4 {
    order: 6;
  }
  .bar4Desc {
    order: 8;
  }
}


@media screen and (max-width: 640px){
  .comparison_bars {
    grid-template-columns: repeat(1, 1fr);
  }
  .bar h3 {
    font-size: 1.5em;
    margin-bottom: 1em;
  }
  .bar1 {
    order: 1;
  }
  .bar1Desc {
    order: 2;
  }
  .bar2 {
    order: 11;
  }
  .bar2Desc {
    order: 12;
  }
  .bar3 {
    order: 3;
  }
  .bar3Desc {
    order: 4;
  }
  .bar4 {
    order: 13;
  }
  .bar4Desc {
    order: 14;
  }


  .bars {
    grid-template-columns: repeat(1, 1fr);
  }
  .oils {
    grid-template-columns: repeat(1, 1fr);
  }
  .placeholder {
    display: none;
  }
  .home h1 {
    font-size: 2em;
  }
  .home h2 {
    font-size: 1.5em;
  }
  .h2subtitle {
    font-size: 1em;
  }
  .subtitle {
    font-size: 1em;
  }
  .gear {
    width: auto;
    height: auto;
    text-align: center;
    margin: 20px;
  }
  .gear_img {
    float: none;
    width: auto;
  }
  .long {
    height: 750vh!important;
  }
}
