/* Common */
/* html {
  scroll-behavior: smooth;
} */

body {
  margin: 0;
  font-family: 'Comic Sans MS', Cursive, Verdana, sans-serif;
  background: url(assets/background.jpg) #fcedd4;
}

/* Navigation panel */

nav {
  height: 75px;
  background: rgba(107, 69, 58, 0.35);
  font-size: 1.5em;
  color: #3d2117;
  padding: 10px 20px 10px;
}
.logo {
  opacity: 0.8;
  float: left;
}
.logo:hover {
  opacity: 1;
}
.desc {
  margin: 0 auto;
}
.big {
  font-size: 1.3em;
}
.fullWidth {
  width: 100%;
}
.cartIcon {
  width: 60px;
  height: 60px;
}
th {
  font-size: 0.7em;
  color: #c0ab98;
  text-align: left;
}
.search {
  position: relative;
  left: 95px;
  top: -60px;
  width: 140px;
}
.mobile_menu {
  display: none;
  float: right;
  opacity: 0.5;
  margin: 12px;
}
.mobile_menu:hover {
  opacity: 0.9;
}
menu  {
  float: left;
  margin: 0;
  display: block;
}
menu a {
  display: block;
  color: #fff;
  font-size: 1.5em;
  padding: 10px 20px;
  text-decoration: none;
  float: left;
}
menu a:active {
  background: rgba(86, 58, 44, 0.4);
}
menu a:hover {
  background: rgba(86, 58, 44, 0.6);
}
footer {
  background: rgba(107, 69, 58, 0.2);
  font-size: 1.5em;
  padding: 40px 20px 40px;
  text-align: center;
}
.lang_selector {
  background: #efd8b4;
  padding: 10px;
  font-size: 0.8em;
  float: right;
  opacity: 0.7;
  margin: 12px;
}
.lang_selector:hover {
  opacity: 1;
}

/* Header panel */

header {
  top: 0;
  height: 75px;
  background: rgba(157, 128, 100, 0.9);
  font-size: 1.5em;
  color: #fae9ce;
  padding: 10px 20px 10px;
}
.sticky {
  position: sticky;
}
header strong {
  color: #fff;
}
.amount {
  position: relative;
  top: 0;
  left: 0;
  max-width: 220px;
}
.sum {
  position: relative;
  top: 0;
  left: 0;
  max-width: 220px;
}

/* Shop  */

.about {
  padding: 50px;
  background: rgba(255, 245, 227, 0.5);
  box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
  font-size: 1.5em;
}
.content {
  max-width: 1200px;
  margin: 0 auto;
}
.about h2{
  font-size: 1.5em;
  color: #693b3b;
}
.about blockquote {
  color: #693b3b;
}

/* Elements */

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 0.5vw;
}
.inner {
  max-width: 1200px;
  margin: 0 auto;
}
button, .button {
  font-family: 'Comic Sans MS', Cursive, Verdana, sans-serif;
  font-size: 0.7em;
  padding: 5px 11px;
  background: rgba(0, 0, 0, 0.1);
  border: solid 2px #9d856c;
  color: #3d2117;
  cursor: pointer;
  text-decoration: none;
}
button:hover, .button:hover {
  background: rgba(0, 0, 0, 0.2);
}
.cart .button {
  background: rgba(0, 0, 0, 0.2);
  border: solid 2px #fff;
}
.cart .button:hover {
  background: rgba(0, 0, 0, 0.4);
}
h2 {
  margin-top: 0;
  letter-spacing: 0.05em;
  font-size: 1.1em;
}
strong {
  color: #3d2117;
}
input {
  font-family: 'Comic Sans MS', Cursive, Verdana, sans-serif;
  font-size: 0.8em;
  padding: 5px 10px;
  text-align: center;
}
input::placeholder {
  color: #ccc;
}
table {
  font-size: 1.3em;
}
.title {
  margin: 0 auto;
  text-align: left;
  width: 300px;
  height: 75px;
}
.white-button {
  float: right;
  margin-top: 10px;
}
.block {
  text-align: center;
  padding: 20px 10px 20px 10px;
  background: rgba(255, 245, 227, 0.5);
  color: #9d856c;
  font-weight: bold;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
}
.pasta {
  background: rgba(245, 234, 226, 0.7);
}
small {
  font-weight: normal;
}
.center {
  margin: 0 auto;
}
.float {
  float: left;
  padding-right: 5px;
}
.form {
  padding-left: 10px;
}
.round {
  border-radius: 50%;
}
.floatResponsive {
  float: left;
}
.cart-page {
  max-width: 800px;
  margin: 0 auto;
}
.block-order {
  padding: 20px 0 20px 20px;
  background: rgba(255, 245, 227, 0.7);
  box-shadow: 5px 5px 5px rgb(0 0 0 / 10%);
  font-size: 1.2em;
}
.total {
  font-size: 1.2em;
  padding: 10px 20px 10px 0;
  text-align: right;
}
.w220 {
  width: 150px;
}
.error {
  border: 2px solid red;
}
.big {
  font-size: 1.2em;
}
.show {
  display: block;
}
.hide {
  display: none;
}


@media (max-width: 800px) {

  .additional {
    display: none;
  }
  menu  {
    display: none;
    position: absolute;
    top: 95px;
    right: 0;
  }
  menu a {
    background: rgba(86, 58, 44, 0.5);
    padding: 20px 50px;
    width: 150px;
    float: none;
  }
  .mobile_menu {
    display: block;
  }

}

@media (max-width: 640px) {

  .floatResponsive {
    float: none;
  }

}

@media (min-width: 801px) {

  menu  {
    display: block!important;
  }

}
